.home {
  background-color: #120200;
}
.imageHome {
  height: auto;
  width: auto;
  background-size: contain;
}
.TextHeader {
  font-family: "Alkalami", serif;
  color: white;
  font-size: 72px;
  line-height: 110px;
  letter-spacing: 6%;
  word-spacing: 7px;
  text-align: left;
}
.TextHeader span {
  color: #ff4f4f;
}

.TextSubHeader {
  font-family: "Voces", cursive;
  font-size: 20px;
  line-height: 39px;
  text-align: Left;
  letter-spacing: 8%;
  word-spacing: 7px;
}
.btnOurmenu {
  background-color: white;
  border: none;
  border-radius: 27px;
  color: #120200;
  font-weight: bold;
}
.btnOurmenu:hover {
  color: #ff4f4f;
  background-color: white;
}
.logoHome {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 10px;
}
