/* Home */
.home {
  background-color: #120200;
  height: 100vh;
  width: 100%;
}
.TextHeader {
  font-family: "Walter Turncoat";
  font-style: normal;
  font-weight: 400;
  font-size: 92px;
  line-height: 114.65%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
span {
  color: #ff4f4f;
}
.TextSubHeader {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Voces";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160.65%;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.btnOurmenu {
  background-color: white;
  border: none;
  border-radius: 15px;
  color: #120200;
  font-weight: bold;
  padding: 7px 20px;
}
.btnOurmenu:hover {
  color: #ff4f4f;
  opacity: 0.9;
}
/* End Home */

/* Left Navbar */

hr.line {
  border-top: 4px solid #de7979;
}

.btn-cart{
  border-radius: 5px;
  margin-bottom: 0;
}
.btn-quantity{
  color: #fffefe;
  background-color: rgb(98, 32, 32);
  font-weight:600;
  border-radius: 5px;
}

.total{
  display: flex;
  flex-direction:column;
  background-color: #4F0000;
  height: 113px;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 12px;
}
.btn-total{
  background-color: #4F0000;
  border-radius: 15px;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
}

.product-details{
  font-size: 13px;
  line-height: 16px
}

.right-navbar{
  box-shadow: -2px 0px 8px 0px rgba(130,33,33,0.84);
  -webkit-box-shadow: -2px 0px 8px 0px rgba(130,33,33,0.84);
  -moz-box-shadow: -2px 0px 8px 0px rgba(130,33,33,0.84);
}

.left-navbar{
  box-shadow: 2px 0px 8px 0px rgba(130,33,33,0.84);
  -webkit-box-shadow: 2px 0px 8px 0px rgba(130,33,33,0.84);
  -moz-box-shadow: 2px 0px 8px 0px rgba(130,33,33,0.84);
}
#iconSearch{
  background-color: transparent;
  padding: 10px;
  border-radius: 25px 0 0 25px;
}
#searchData{
  border-radius: 0 25px 25px 0;
  border-left: none;
}