/* Home */
.home {
  background-color: #120200;
  height: 100vh;
  width: 100%;
}
.TextHeader {
  font-family: "Walter Turncoat";
  font-style: normal;
  font-weight: 400;
  font-size: 92px;
  line-height: 114.65%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
span {
  color: #ff4f4f;
}
.TextSubHeader {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Voces";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160.65%;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.btnOurmenu {
  background-color: white;
  border: none;
  border-radius: 15px;
  color: #120200;
  font-weight: bold;
  padding: 7px 20px;
}
.btnOurmenu:hover {
  color: #ff4f4f;
  opacity: 0.9;
}
/* End Home */

/* Left Navbar */
.leftNavbar {
  position: absolute;
  width: 75px;
  top: 0px;
  bottom: 0;
  background: #120200;
}

hr.line {
  border-top: 4px solid #de7979;
}

.btn-cart{
  border-radius: 5px;
  margin-bottom: 0;
}
.btn-quantity{
  color: #fffefe;
  background-color: rgb(98, 32, 32);
  font-weight:600;
  border-radius: 5px;
}

.total{
  display: flex;
  flex-direction:column;
  background-color: #4F0000;
  height: 113px;
  padding: 10px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 12px;
}
.btn-total{
  background-color: #4F0000;
  border-radius: 15px;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
}

.product-details{
  font-size: 13px;
  line-height: 16px
}